/*div#principal
{
background-image:url('fundo_form.png');
bgproperties:;
background-repeat:repeat-x;
	   top: 0px;
       left: 0px;
	   right:0px;
	   bottom:0px;
width:100%;
height:100%;
padding: 0px 0px 0px 0px;

}
